<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if ((string?)ViewData["Title"] == "FindIt") {
      <title>FindIt</title>
    } else {
      <title>@ViewData["Title"] - FindIt</title>
    }

    <link href="~/lib/beercss/beer.min.css" rel="stylesheet" />
    <link href="~/lib/fancyapps/ui/fancybox.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script type="module" src="~/lib/beercss/beer.min.js"></script>
    <script type="module" src="~/lib/beercss/material-dynamic-colors.min.js"></script>
    <script type="text/javascript" src="~/lib/fancyapps/ui/fancybox.umd.js"></script>
    <script type="text/javascript" src="~/lib/tailwindcss/tailwind.min.js"></script>
  </head>
  <body class="hidden">
    <header class="absolute top-0 left-0 right-0">
      <nav class="container mx-auto px-4">
        <h6 class="max text-2xl font-bold text-outline"><span class="text-primary">Find</span>It</h6>
        <label class="switch icon">
          <input type="checkbox" id="darkmode-switch" />
          <span>
            <i>dark_mode</i>
          </span>
        </label>
      </nav>
    </header>
    <main class="container mx-auto px-4">
      @RenderBody()
    </main>
  
    @if (TempData["SnackbarType"] != null) {
      <div class="snackbar @TempData["SnackbarType"]" id="snackbar">@TempData["SnackbarMessage"]</div>
    } else {
      <div class="snackbar" id="snackbar">@TempData["SnackbarMessage"]</div>
    }

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
      $(document).ready(function () {
        Fancybox.bind("[data-fancybox]", {
          Toolbar: {
            display: {
              left: ["infobar"],
              middle: [
                "zoomIn", "zoomOut", "toggle1to1", 
                "rotateCCW", "rotateCW", "flipX", "flipY",
              ],
              right: [
                "iterateZoom",
                "download",
                "fullscreen",
                "close"
              ]
            }
          }
        });

        if ("@TempData["SnackbarMessage"]".length > 0) {
          ui("#snackbar", 5000);
        }
      });
    </script>
  </body>
</html> 