@{
    ViewData["Title"] = "New Item";
}

@model FindIt.Models.ItemModel;

<div class="flex justify-center items-center w-full h-[100dvh]">
  @using (Html.BeginForm("Add", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    <div class="space-y-5 px-4">
      <h5>New <span class="text-primary mx-1.5">lost</span> item</h5>
      <p class="text-outline !mt-1 !mb-6">Briefly describe the item type (e.g., keys, wallet, phone)</p>

      <div class="grid grid-cols-2">
        <div class="field label prefix round fill">
          <i>box</i>
          @Html.TextBoxFor(model => model.Name, new { Type = "text", Required = true })
          <label>Name <span class="text-error">*</span></label>
        </div>
        <div class="field fill round">
          <select name="category" id="categories" required>
            <option value="" disabled selected>Select category <span class="text-error">*</span></option>
          </select>
          <i>arrow_drop_down</i>
        </div>
      </div>

      <div class="field label prefix fill round">
        <i>attach_file</i>
        @Html.TextBoxFor(model => model.Image, new { Type = "file", Accept = "image/*", Required = true })
        <input type="text">
        <label>Image <span class="text-error">*</span></label>
      </div>

      <div class="grid grid-cols-2">
        <div class="field label prefix fill round">
          <i>today</i>
          @Html.TextBoxFor(model => model.DateFound, new { Type = "datetime-local", Required = true })
          <label>When was it found? <span class="text-error">*</span></label>
        </div>
        <div class="field label prefix fill round">
          <i>location_on</i>
          @Html.TextBoxFor(model => model.Location, new { Type = "text", Required = true })
          <label>Where was it found? <span class="text-error">*</span></label>
        </div>
      </div>

      <div class="field textarea label prefix fill round">
        <i>description</i>
        @Html.TextAreaFor(model => model.Description, new { Type = "text", Required = true })
        <label>Describe the item <span class="text-error">*</span></label>
      </div>
      <p>Adding lost item as <span class="text-primary italic">@Context.Session.GetString("Username")</span></p>
      <div class="flex justify-end">
        <button>
          <i>upload</i> Submit
        </button>
      </div>
    </div>  
  }

@section Scripts {
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        url: '/Category/GetCategories',
        type: 'GET',
        success: function(data) {
          const keys = Object.keys(data);

          for (const key of keys) {
            const optgroup = document.createElement('optgroup');
            optgroup.label = key;

            for (const id of Object.keys(data[key])) {
              const option = document.createElement('option');
              option.value = id;
              option.text = data[key][id];
              optgroup.appendChild(option);
            }

            $('#categories').append(optgroup);
          }
        }
      })
    });
  </script>
}
